.body{
    padding: 0 6%;
}

.carousel-img{
    height: 650px !important;
}

.places{
    text-align: center;
    margin: 40px 0;
}

.place-nav{
    margin: 40px 0;
}

.place-ul{
    list-style-type: none;
    padding: 0px 32px;
    margin: 0 25px;
}

.places h5{
    margin-bottom: 0;
}

.place-link{
    padding: 4px 0;
}

.nav-item{
    font-size: 1.05rem;
    font-weight: 700;
} 

.place-container{
    padding: 30px 6.5%;
}

.container{
    display: flex;
    height: 50%;
    align-items: center;
    padding: 0 !important;
}

.col{
    flex-basis: 50%;    
}

.col p{
    text-align: justify;
    font-size: 1.1rem;
}

.col h5{
    padding: px 0;
}

.col span{
    margin-left: 80px;
}

.place-h4{
    text-align: center;
    padding: 20px 0;
}

.card-item{
    width: 18rem;
    margin: 10px;
    border: 1px solid gray !important;
    border-radius: 8px !important;
}

section{
    margin-bottom: 40px;
}

ul li
{
    font-weight: bold;
}
ul li:hover
 {
    color:white;
    background-color :black;
 }